body {
    background-color: #ffffee;
}
.deft {
    font-size: 1.4em;
    margin-right: 30px;
    background-color: #eeeedd;
    width: 30em;
    height: 30em;
}
.drafts {
    float: left;
    width: 30em;
    position: relative;
    margin-right: 1em;
}
#buffers {
    text-align: right;
}
#container {
    margin: 0px auto;
    max-width: 60em;
}
#sidebar {
    float: right;
}
#dd-nav {
    display: none;
}
.highlight {
    background-color: #ffeeee;
}
